<div class="flex flex-col w-full">
    
    <div (click)="showFolder()" [class.text-actText]="visibleFolder" class="hover:text-actText duration-150 cursor-pointer my-1 flex flex-row">
        <div>
            Folders
        </div> 
        <fa-icon icon="chevron-down" [class.fa-rotate-180]="visibleFolder" class="ml-auto duration-200"></fa-icon>
    </div>

    <div *ngIf="folders && folders.length > 0" [class.hidden]="!visibleFolder" >
        <ul>
            <li *ngFor="let folder of folders">
                <div (click)="navigateToFolder(folder)" [class.text-actText]="folder == activeFolder" class="hover:text-actText duration-150 cursor-pointer my-1 ml-3">
                    {{ folder }}
                </div>
            </li>

            <li class="my-1 rounded flex flex-col">
                <input (blur)="clearNewFol()" (keydown.enter)="createFolder()" [class.border-rose-500]="newFolderError" [class.border-1]="newFolderError"  class="text-actText bg-lblack caret-slate-300 rounded w-full py-0.5 px-3 leading-tight focus:outline-none focus:bg-lblack placeholder-defText"
                placeholder="New Folder" [(ngModel)]="newFolder">
                <div [class.hidden]="!newFolderError" class="text-rose-500 text-xs">
                    Use a different Name
                </div>
            </li>

        </ul>
    </div>

</div>
