<div class="flex h-full w-full items-center">
    <div class="h-auto w-11/12 max-w-[35rem] mx-auto p-10 bg-lgray text-actText flex flex-col  rounded-md">

        <div class="mt-2.5 mb-5 py-2.5 w-full grow flex items-center">
            <div class="ml-auto"></div>
            <div class="text-lg font-semibold">Sign Up</div>
            <div class="mr-auto"></div>
        </div>

        <div class="relative my-3" data-te-input-wrapper-init>
            <input
                type="email"
                [class.border-rose-500]="signUpError"
                class="peer block min-h-[auto] w-full rounded border-1 border-actText bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 focus:border-purple-500"
                placeholder="Email address"
                id="email-id-control"
                [(ngModel)]="userName"
            />

            <label 
                for="email-id-control" 
                class="absolute mx-1.5 px-1.5 my-0.5 py-0.5 rounded-md left-0 -top-3.5 bg-lgray text-actText text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-actText peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-actText peer-focus:text-sm">
                Email Address
            </label>
        </div>

        <div class="relative my-3" data-te-input-wrapper-init>
            <input
                type="password"
                [class.border-rose-500]="signUpError"
                class="peer block min-h-[auto] w-full rounded border-1 border-actText bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 focus:border-purple-500"
                placeholder="Password"
                id="pass-control"
                [(ngModel)]="password"
            />

            <label 
                for="pass-control" 
                class="absolute mx-1.5 px-1.5 my-0.5 py-0.5 rounded-md left-0 -top-3.5 bg-lgray text-actText text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-actText peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-actText peer-focus:text-sm">
                Password
            </label>
        </div>

        <div class="flex flex-col my-2 sm:flex-row">
            <div [class.invisible]="!signUpError" class="text-rose-500">
                {{ errorMessage }}
            </div>

            <div class="mt-2 sm:ml-auto sm:mt-0 text-purple-400 cursor-pointer">
                Forgot Password?
            </div>
        </div>

        <div class="my-3 w-full">
            <button class="shadow w-full bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded duration-150" type="button"
            (click)="createUser()">
                <div [class.hidden]="!loadLogin" class="invisible animate-spin inline-block w-3 h-3 border-[2px] border-current border-t-transparent rounded-full" role="status" aria-label="loading">
                </div>
                Sign Up
            </button>
        </div>

        <div class="flex flex-row w-full">
            <div (click)="navToLogin()" class="mx-auto text-purple-400 cursor-pointer">
                Return to login
            </div>
        </div>

    </div>
</div>
