<div class="relative flex flex-row">
    <div class="m-3.5 mr-5 flex flex-row flex-wrap overflow-scroll">

        <div (click)="navToFile(entry.key, entry.value.folder)" *ngFor="let entry of fileFolder.folder | keyvalue" class="m-1.5 p-3 w-40 h-48 bg-lgray rounded-md flex flex-col group cursor-pointer">
            <div class="flex flex-row">
                <div class="basis-1/5 font-light text-defText group-hover:text-actText duration-200">
                    {{ entry.value.folder }}
                </div>
                <div [class.text-purple-500]="entry.value.favorite" class="ml-auto cursor-pointer text-defText hover:text-purple-500 duration-200">
                    <fa-icon icon="star"></fa-icon>
                </div>
            </div>

            <div class="basis-3/5 font-light text-defText group-hover:text-actText duration-200">
                {{ entry.value.noteHead }}
            </div>

            <div class="flex flex-row relative">
                <div class="mt-auto font-extralight text-sm text-defText group-hover:text-actText duration-200">
                    {{ convertToDate(entry.value.date.seconds, entry.value.date.nanoseconds) }} <br>
                    {{ convertToTime(entry.value.date.seconds, entry.value.date.nanoseconds) }}
                </div>
                <div (click)="showOptions($event)" class="group/sp ml-auto relative h-full" >
                    <button (click)="showOptions($event)" class="group/sp text-defText h-full hover:text-actText duration-200 flex flex-col">
                        <fa-icon icon="ellipsis-v" class="text-xl mt-auto"></fa-icon>
                    </button>
                    
                    <div (click)="askDeleteConfirmation($event, entry.key, entry.value.favorite)" class="hidden group-hover/sp:block absolute rounded-lg p-1 bg-lblack text-defText hover:text-actText duration-200 -right-10 -bottom-8">
                        Delete
                    </div>
                </div>
            </div>

        </div>

        <div (click)="createFile()" class="m-1.5 px-3 pb-3 w-40 h-48 bg-lgray text-defText hover:text-actText rounded-md flex flex-col group cursor-pointer duration-200">
            <div class="text-lg mt-auto mb-1 flex flex-row">
                <div class="mx-auto">
                    New File
                </div>
            </div>
            <div class="text-5xl mt-1 mb-auto flex flex-row">
                <div class="mx-auto">
                    <fa-icon icon="plus"></fa-icon>
                </div>
            </div>
        </div>

    </div>
    <div class="absolute right-2.5 top-5">
        <fa-icon (click)="toggleFolderDelete()"
         icon="ellipsis-v" class="text-defText hover:text-actText text-xl mt-auto cursor-pointer duration-200"></fa-icon>
        <div class="absolute right-0.5 top-8.25 text-rose-700 font-semibold border-1 border-rose-600 rounded sm truncate cursor-pointer duration-200
        px-2 py-1 bg-lgray hover:text-actText hover:bg-rose-600"
        [class.hidden]="folderDeleteHidden"
        (click)="deleteFolder()">
            Delete Folder
        </div>
    </div>
</div>
